html {
    box-sizing: content-box;
}

body {
    background-color: var(--light-grayish-cyan);
}

@media (width >= 90rem) {

    *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
}
    
* {
    font-family: League Spartan;
}

ul {
    background-color: transparent;
    padding: 0;
}

button {
    border: none;
}

.background {
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
}

.bg-image-mobile {
    height: 0;
    visibility: hidden;
}

.list-and-filters-container {
    background-color: transparent;
    display: grid;
    grid-template-rows: auto auto;
}  

.job-listing-filters-control {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.10);
    display: grid;
    visibility: hidden;
    height: minMax(5rem, auto);
    grid-template-columns: 70% 30%;
    margin-top: -2.5rem;
    margin-inline: 10rem;
}

.filters-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1.5rem;
}

.filter-tag {
    background-color: var(--light-grayish-cyan);
    border-radius: 4px;
    display: grid;
    grid-template-columns: auto 2rem;
    height: 2rem;
}

.filter-text {
    color: var(--desaturated-dark-cyan);
    text-align: center;
    align-content: center;
    margin-inline: 1.2rem;
}

.remove-filter-button {
    background-color: var(--desaturated-dark-cyan);
    color: var(--white);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    align-content: center;
    border-width: 0;
    padding: 0;
    padding-top: 0.125rem;
}

.remove-filter-button:hover {
    background-color: var(--very-dark-grayish-cyan);
}

.clear-filters-button {
    background-color: transparent;
    color: var(--very-dark-grayish-cyan);
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-align: center;
    align-self: center;
    justify-self: right;
    margin-right: 2.5rem;
    padding: 0;
}

.clear-filters-button:hover {
    color: var(--desaturated-dark-cyan);
    text-decoration: underline;
}

.job-listings-list {
    width: 100%;
    margin-top: 0.8rem;
    padding: 0;
}

.job-listing-li {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.10);
    display: grid;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-inline: 10rem;
    }

 .job-listing-li.featured {
    grid-template-columns: 5px auto;
 }
    
.job-listing-box {
    background-color: inherit;
    border-radius: 4px;
    display: grid;
    grid-template-rows: repeat(2, 2rem) minmax(2rem, auto);
    grid-template-columns: 9rem auto 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.job-listing-box.featured {
    grid-template-columns: 5px 8rem 1fr 1fr;
}

.featured-colored-border {
    background-color: var(--desaturated-dark-cyan);
    border-radius: 4px 0 0 4px;
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column: 1;
}

.logo {
    grid-row-start: 1;
    grid-row-end: 3;
    height: 6rem;
    width: 6rem;
    margin-left: 2.5rem;
}

.job-listing-header {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 1;
    grid-column: 2;
    column-gap: 0.5rem;
    margin-inline: 1.2rem;
}

.company-tag {
    color: var(--desaturated-dark-cyan);
    font-family: League SpartanBolder;
    align-content: center;
}

.is-new-tag {
    background-color: var(--desaturated-dark-cyan);
    color: var(--white);
    font-family: League SpartanBolder;
    border-radius: 16px;
    text-align: center;
    align-content: center;
    padding-top: 0.125rem;
    padding-inline: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.is-featured-tag {
    background-color: var(--very-dark-grayish-cyan);
    font-family: League SpartanBolder;
    color: var(--white);
    border-radius: 16px;
    text-align: center;
    align-content: center;
    padding-top: 0.125rem;
    padding-inline: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.position-tag {
    color: var(--very-dark-grayish-cyan);
    cursor: pointer;
    font-size: 1.4rem;
    align-content: center;
    grid-row: 2;
    grid-column: 2;
    margin-inline: 1.2rem;
}

.position-tag:hover {
    color: var(--desaturated-dark-cyan);
}

.time-location-tags-row {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row: 3;
    grid-column: 2;
    margin-inline: 1.2rem;
}

.created-at-tag {
    color: var(--dark-grayish-cyan);
    font-weight: 300;
    align-content: center;
}

.location-contract-tag {
    color: var(--dark-grayish-cyan);
    font-weight: 300;
    align-content: center;
    margin-left: 0.75rem;
}

.location-contract-tag::before {
    content: "•";
    font-weight: 50;
    margin-right: 0.75rem;
}

.divider {
    height: 0;
    width: 0;
    visibility: hidden;
}

.language-tool-role-level-tags-grid {
    display: flex;
    flex-wrap: wrap;
    justify-self: right;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 3;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-right: 2.5rem;
}

.language-tool-role-level-tag {
    background-color: var(--light-grayish-cyan);
    color: var(--desaturated-dark-cyan);
    font-size: 1.2rem;
    font-family: League Spartan;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    align-content: center;
    height: 2rem;
    padding-inline: 0.5rem;
}

.language-tool-role-level-tag:hover {
    background-color: var(--desaturated-dark-cyan);
    color: var(--white);
}    
}

